<table >
  <tr>
    <th>Name</th>
    <th>Surname</th> 
    <th>date</th>
  </tr>
  {{#each bills}}
  <tr>
    <td>{{name}}</td>
    <td>{{surname}}</td> 
    <td>{{date}}</td>
  </tr>
  {{/each}}
</table>